@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    
}


body {

    margin:0;
}

.header {background-color: #fff;height: 71px;display: flex;justify-content: space-between;padding-left: 100px;padding-right: 100px;align-items: center;position: fixed;width: 100%;box-shadow: 0px 10px 10px #00000052;}

.logo {

}

.menu {
width: 500px;
display: flex;
justify-content: space-between;
}

.menu_link {

}

section {height: 561px;background-color: black;}

.parent {
    background: url(images/bg.jpeg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}


.children {
    background-color: rgb(47, 194, 223);
    width: 325px;
    height: 147px;
    padding: 10px;
    transition: all ease-out 1s;
    text-align: center;
    padding-top: 34px;
}


.children:hover {
color:#fff;
background-color: black;
cursor: pointer;
}

#background-video {
    width: 100%;
    height: 562px;
    object-fit: cover;
}

.full_bg_cover {display: flex;justify-content: space-between;height: 100vh;background: url(images/bg.jpeg) no-repeat center;background-size: cover;background-blend-mode: luminosity;padding-left: 100px;padding-right: 100px;padding-top: 100px;}

.home_text {width: 500px;}
.big_text {font-size: 40px;color: #fff;font-weight: 600;text-shadow: 1px 2px black;}
.smaller_text {font-size: 18px;font-weight: 500;color: #fff;}
.smaller_text p {

}

.home_form {

}

.parent_of_children {
    display: flex;
    justify-content: space-around;
margin:0 auto;
width: 80%;
}

.children_title {font-size: 29px;font-weight: 600;margin-bottom: 10px;}

.children_description {

}


.form_box {
    background: #fff;
    height: 400px;
    width: 400px;
    padding: 40px;
    box-shadow: 0px 4px 3px 0px #000;
    border-radius: 10px;
}

.over_video {margin-top: -301px;height: 300px;}
.video_title {
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 4px 2px #0000008c;
}

.form_input {width: -webkit-fill-available;font-size: 18px;padding: 10px 10px;margin-bottom: 20px;margin-top: 3px;}

.form_button {width: -webkit-fill-available;padding: 20px;font-size: 23px;background: #0074ff;border: none;border-radius: 10px;color: #fff;}