body {

    margin:0;
}

.parent {
margin:0 auto;
width: 1200px;
display: flex;
justify-content: space-between;
}


.children {
background-color: rgb(234, 239, 240);
width: 300px;
height: auto;
padding: 10px;
transition: all ease-out 1s;

}


.parent:hover .children {
color:#fff;
background-color: black;
text-align: center;
}